@use 'variables' as *;
@use 'mixins' as *;

// Back to Top Button
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: $sapphire-primary;
    color: $white;
    border-radius: 50%;
    @include flex-center;
    opacity: 0;
    transition: all $transition-fast;
    box-shadow: 0 5px 20px rgba($sapphire-primary, 0.4);
    z-index: 999;

    &:hover {
        background: $sapphire-dark;
        transform: translateY(-5px);
    }

    svg {
        width: 24px;
        height: 24px;
    }
}
