<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-content">
      <p class="footer-disclaimer">
        This is a Doki Doki Literature Club mod that is not affiliated with Team
        Salvato. It is designed to be played only after the official game has
        been completed.
      </p>
      <p class="footer-ddlc-link">
        You can download Doki Doki Literature Club at:
        <a href="http://ddlc.moe" target="_blank" rel="noopener noreferrer"
          >http://ddlc.moe</a
        >
      </p>
    </div>
    <div class="footer-copyright">
      <p>
        &copy; <span id="copyright-year">2026</span> Dewallt101. All rights
        reserved.
      </p>
    </div>
  </div>
</footer>
